.row-fluid
  .span2.profile-column
    %div
      / need to render photo here
      = render 'profile/avatar', profile: profile
    %p
      :textile
        *Age:*
        #{profile.optional_info_age}

        ---

        *Body Type:*
        #{profile.optional_info_height && "#{profile.optional_info_height} cm – "}#{select_title 'body_type', profile.optional_info_body_type}

        ---

        *Hair / Eyes:*
        #{select_title 'hair_color', profile.optional_info_hair_color} / #{select_title 'eye_color', profile.optional_info_eye_color}

        ---

        *Education*
        #{select_title 'education', profile.optional_info_education}

        ---

        *Children*
        #{select_title 'children', profile.optional_info_children}

        ---

        *Ethnicity*
        #{select_title 'ethnicity', profile.optional_info_ethnicity}

        ---

        *Religion*
        #{select_title 'religion', profile.optional_info_religion}

        ---

        *Smoking / Drinking*
        #{select_title 'me_smoker', profile.optional_info_smoker} / #{select_title 'me_drinker', profile.optional_info_drinker}

        ---

  .span10.profile-column
    - unless profile.reviewed?
      .pull-right.muted
        %small= link_to 'Public profile here', user_profile_path(profile.auto_user)
        %br
        %strong= t 'profile.review.under_review'
    :textile
      h3. #{profile.auto_user.name} <small>(#{select_title 'sex', profile.personal_preferences_sex})</small>

      ---

      **#{profile.optional_info_age} / #{profile.general_info_address_line_1}, #{profile.general_info_address_line_2} / #{profile.general_info_city}, #{profile.general_info_state}**

      !#{gmap_for(profile)}!

      __#{profile.general_info_tagline}__
    = render 'profiles/invite_link', user: @user
    = render 'profiles/send_wink_link', user: @user

    - unless @user == current_user
      = render 'profiles/send_gift_link', user: @user
      = render 'profiles/report_violation_link', profile: profile

    - if can? :manage, profile
      .row-fluid
        .span12
          .accordion#dev_info_accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#dev_info_accordion', href: '#collapse_dev_info' }
                  Dev info (it will go away)
              .accordion-body.collapse#collapse_dev_info
                .accordion-inner
                  %div
                    last_sign_in_ip:
                    = profile.auto_user.last_sign_in_ip
                  %div
                    sign_in_count:
                    = profile.auto_user.sign_in_count
                  %div
                    failed login counts:
                    = profile.auto_user.failed_sign_in_count

    - if can? :manage, profile
      = link_to 'Edit profile', edit_profile_path, class: 'btn'


    :textile
      h3. About

      ---

      h4. About me:

    = profile.general_info_description
    :textile

      h4. My First Date Expectations:

    = profile.date_preferences_description

    :textile

      <br>

      *Occupation:*
      #{profile.optional_info_occupation}

      ---

      *Annual Income:*
      #{profile.optional_info_annual_income}$ per year

      ---

      *Net Worth:*
      #{profile.optional_info_net_worth}$

      ---

      *Relationship Status:*
      #{select_title 'relationship', profile.personal_preferences_relationship}

      ---

      *Looking To Meet:*
      #{select_title 'sex', profile.personal_preferences_partners_sex}

      ---

      *Interested In:*
      #{select_title 'want_relationship', profile.personal_preferences_want_relationship}

      ---
