= form_for @profile do |f|
  .row-fluid
    .span9
      %h2 Edit profile
    .span2
      - if @profile.filled?
        %button.btn.btn-success.span12{ href: '#' }
          Save profile

  %hr

  .row-fluid
    .span12
      - @profile.errors.full_messages.each do |msg|
        %p= msg.html_safe
      .accordion#profile_master_accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_general_info' }
              General info (required)
          .accordion-body.collapse.in#collapse_general_info
            .accordion-inner
              = f.label :location
              %div
                = f.text_field :general_info_address_line_1, placeholder: 'Address Line 1'
                = f.text_field :general_info_address_line_2, placeholder: 'Address Line 2 (not required)'
                = f.text_field :general_info_city, placeholder: 'City'
                = f.text_field :general_info_state, placeholder: 'State'
                = f.text_field :general_info_zip_code, placeholder: 'Zip Code'
              = f.label :about_yourself
              %div
                = f.text_field :general_info_tagline, placeholder: 'Tagline', 'class' => 'span11'
                %br
                = f.text_area :general_info_description, placeholder: 'Overall Description', 'class' => 'span11', rows: 5
              .row
                %a.btn.btn-primary.span2.offset9.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_personal_pref' }
                  Next
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_personal_pref' }
              Personal preferences (required)
          .accordion-body.collapse#collapse_personal_pref
            .accordion-inner
              = f.label 'Who are you?'
              %div= f.select :personal_preferences_sex, select_options('gender')
              = f.label 'Looking for?'
              %div= render 'me/profiles/multiselect', values: select_options('gender'), param: 'personal_partners_sex', multiselect: @profile.personal_partners_sex_multiselect
              = f.label 'Relationship status'
              %div= render 'me/profiles/multiselect', values: select_options('relationship'), param: 'personal_relationship', multiselect: @profile.personal_relationship_multiselect
              = f.label 'What are you looking for'
              %div= render 'me/profiles/multiselect', values: select_options('want_relationship'), param: 'personal_want_relationship', multiselect: @profile.personal_want_relationship_multiselect
              .row
                %a.btn.btn-primary.span2.offset9.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_date_pref' }
                  Next
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_date_pref' }
              Date preferences (required)
          .accordion-body.collapse#collapse_date_pref
            .accordion-inner
              %label
                :textile
                  Accepted distance up to
                  _(in miles)_
              .form-vertical-padded
                .form-horizontal
                  = f.hidden_field :date_preferences_accepted_distance_do_care, id: 'date_preferences_accepted_distance_do_care'
                  / ko if: datePreferences.acceptedDistance.care()
                  = f.hidden_field :date_preferences_accepted_distance_do_care, value: true
                  = f.number_field :date_preferences_accepted_distance, min: 0
                  %a.btn{ href: '#', 'data-bind' => '{ click: datePreferences.acceptedDistance.dontCare }' } Don't care
                  / /ko
                  / ko ifnot: datePreferences.acceptedDistance.care()
                  = f.hidden_field :date_preferences_accepted_distance_do_care, value: false
                  I don't care
                  %a.btn{ href: '#', 'data-bind' => '{ click: datePreferences.acceptedDistance.doCare }' } Do care
                  / /ko
              = f.label 'Smoking habits of partner'
              %div= render 'me/profiles/multiselect', values: select_options('smoker'), param: 'date_smoker', multiselect: @profile.date_smoker_multiselect
              = f.label 'Drinking habits of partner'
              %div= render 'me/profiles/multiselect', values: select_options('drinker'), param: 'date_smoker', multiselect: @profile.date_drinker_multiselect
              %div= f.text_area :date_preferences_description, placeholder: 'Description for the date', rows: 5, class: :span11
              .row
                %a.btn.btn-primary.span2.offset9.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_optional_info' }
                  Next
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_optional_info' }
              Optional info about yourself
          .accordion-body.collapse#collapse_optional_info
            .accordion-inner
              = f.label :birthday
              %div= f.date_field :optional_info_birthday
              = f.label :education
              %div
                = f.select :optional_info_education, select_options('education', false)
              %label
                Wealth in $
                %a{ 'data-toggle' => 'tooltip', 'title' => '<strong>Annual income</strong> - your yearly income with applied taxes<br/><strong>Net worth</strong> - the amount by which your assets exceed your liabilities', rel: :tooltip, href: '#', 'data-html' => 'true', 'data-placement' => 'right' }
                  %i.icon-question-sign= ' '
              %div
                = f.text_field :optional_info_occupation, placeholder: 'Occupation'
                = f.select :optional_info_annual_income, select_options('income', false), 'data-toggle' => 'tooltip', title: 'Your yearly income with applied taxes', rel: :tooltip
                = f.select :optional_info_net_worth, select_options('net_worth', false), 'data-toggle' => 'tooltip', title: 'The amount by which your assets exceed your liabilities', rel: :tooltip
              = f.label :physique
              %div
                = f.select :optional_info_height, select_options('height', false)
                = f.select :optional_info_body_type, select_options('body_type', false)
              = f.label :religion
              %div= f.select :optional_info_religion, select_options('religion', false)
              = f.label :ethnicity
              %div= f.select :optional_info_ethnicity, select_options('ethnicity', false)
              = f.label 'Appearance (eye and hair color)'
              %div
                = f.select :optional_info_eye_color, select_options('eye_color', false)
                = f.select :optional_info_hair_color, select_options('hair_color', false)
              = f.label :children
              %div= f.select :optional_info_children, select_options('children', false)
              = f.label 'Smoking and drinking habits'
              %div
                = f.select :optional_info_smoker, select_options('me_smoker', false)
                = f.select :optional_info_drinker, select_options('me_drinker', false)
              .row
                %a.btn.btn-primary.span2.offset9.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_subscribe_options' }
                  Next
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#profile_master_accordion', href: '#collapse_subscribe_options' }
              Subscribe options
          .accordion-body.collapse#collapse_subscribe_options
            .accordion-inner
              = f.fields_for :user do |user_form|
                = user_form.label :subscribed, 'Subscribe'
                %div= user_form.check_box :subscribed


              .row
                %button.btn.btn-success.span2.offset9{ href: '#' }
                  - if @profile.filled?
                    Save profile
                  - else
                    Create profile


