<tr>
  <td>
    <%- if message.sent_by?(current_user) %>
      <i class="icon-arrow-right"></i>
    <% else %>
      <i class="icon-arrow-left"></i>
    <% end %>
  </td>
  <td>
    <%= link_to(message.interlocutor(current_user).name,
                user_profile_path(message.interlocutor(current_user))) %>
  </td>
  <% if message.interlocutor(current_user).deleted? %>
    <span class="label">Deleted</span>
  <% end %>
  <% if can? :read, message %>
    <td><%= truncate(message.content, length: 20, separator: ' ') %></td>
  <% else %>
    <td>(HIDDEN)</td>
  <% end %>
  <td>
    <%- if message_unread_by_user?(message, current_user) %>
      <i class="icon-envelope"></i>
    <% end %>
  </td>
  <td><%=l message.created_at, format: :short %></td>
    <td>
      <%= link_to t(:'messages.index.go_to_unlock'),
                  users_dates_path unless can? :communicate, message.interlocutor(current_user) %>
      <%= link_to t(:'messages.index.show'), message_path(message),
                  class: 'btn' if can? :read, message %>
      <%= link_to t(:'messages.index.reply'), new_user_message_path(message.interlocutor(current_user)),
                  class: 'btn' if can? :communicate, message.interlocutor(current_user) %>
      <%= link_to t(:'messages.index.destroy'), message_path(message),
                  method: 'delete',
                  data:   { confirm: t('messages.index.confirm') },
                  class:  'btn btn-danger' if can? :destroy, message %>
    </td>
</tr>
