<div class="page-header">
  <h2><%=t 'messages.title' %></h2>
</div>
<%= render 'nav' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= t :'messages.index.user' %></th>
      <th><%= t :'messages.index.content' %></th>
      <th><%= t :'messages.index.state' %></th>
      <th><%= t :'messages.index.sent_at' %></th>
      <th><%= t :'messages.index.actions' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @messages %>
  </tbody>
</table>

