<div class="page-header">
  <h3>
    <% if @message.received_by?(current_user) -%>
      <%= t :'messages.show.from' -%>
    <% else -%>
      <%= t :'messages.show.to' -%>
    <% end -%>
    <%= @message.interlocutor(current_user).name %>
    <% if @message.interlocutor(current_user).deleted? %>
      <span class="label">Deleted</span>
    <% end %>
  </h3>
</div>

<blockquote>
  <%= simple_format @message.content -%>
  <small><%= l @message.created_at, format: :short %></small>
</blockquote>

<div class="form-actions">
  <%= link_to t(:'messages.index.back', default: t("helpers.links.back")), unread_messages_path, class: 'btn' %>
  <%= link_to t(:'messages.index.reply'), new_user_message_path(@message.interlocutor(current_user)),
              class: 'btn' if can? :communicate, @message.interlocutor(current_user) %>
  <%= link_to t(:'messages.index.destroy'), message_path(@message),
              method: 'delete',
              data:   { confirm: t('messages.index.confirm') },
              class:  'btn btn-danger' if can? :destroy, @message %>
</div>
