<div class="page-header">
  <h3>
    <% if @message.received_by?(current_user) -%>
      <%= t :'messages.show.from' -%>
    <% else -%>
      <%= t :'messages.show.to' -%>
    <% end -%>
    <%= other_user_of_message(@message, current_user).name %>
    <% if other_user_of_message(@message, current_user).deleted? %>
      <span class="label">Deleted</span>
    <% end %>
  </h3>
</div>

<blockquote>
  <%= simple_format @message.content -%>
  <small><%= l @message.created_at, format: :short %></small>
</blockquote>

<div class="form-actions">
  <%= link_to t('messages.index.back', default: t("helpers.links.back")),
              messages_path, class: 'btn'  %>
  <%= link_to t(:'messages.index.reply'), new_user_message_path(other_user_of_message(@message, current_user)), class: 'btn' %>
  <%= link_to t(:'messages.index.destroy'), message_path(@message),
              method: 'delete',
              data:   { confirm: t('messages.index.confirm') },
              class:  'btn btn-danger' %>
</div>
