<span class='date_rank'>
  <%= t('.prepend') -%><%= t('.courtesy') %>
  <%= date_rank.courtesy_rank.name -%><%= t('.delimiter') -%>
  <%= t('.punctuality') %>
  <%= date_rank.punctuality_rank.name -%><%= t('.delimiter') -%>
  <%= t('.authenticity') %>
  <%= date_rank.authenticity_rank.name -%><%= t('.append') -%>
</span>
