<% if user.profile.filled? %>
	<div class="span5">
		<div class="row-fluid search-profile-row">
			<div class="span3">
		  		<%= image_tag user.profile.avatar_url(:thumb) -%>
			</div>
			<div class="span9">
				<p><strong><%= user.nickname %></strong></p>
				<p><em><%= user.profile.general_info['tagline'] %></em></p>
				<p><%= truncate user.profile.general_info['description'], length: 200 %></p>
				<div><%= link_to 'Show profile', user_profile_path(user), class: 'btn' -%></div>
			</div>
		</div>
	</div>
<% end %>
