<h2>Search</h2>
<p>
<strong>Basic criterias</strong>
<hr/>
<%= form_for @search, as: :search, url: search_path, method: :get do |f| %>
	<div class="row-fluid">
		<div class="span"></div>
		<div class="span5">
			<label><strong><%= t :where_are_you %></strong></label>
			<div class="row-fluid">
				<div><%= f.text_field :location, class: 'span5' %></div>
			</div>
		</div>
		<div class="span5">
			<label><strong><%= t :max_distance %></strong></label>
			<div class="row-fluid">
				<div><%= f.number_field :max_distance, class: 'span5', min: 0 %></div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span"></div>
		<% @profile_sections[:primary].each do |criteria| %>
			<%= render partial: 'search/sections', locals: { criteria: criteria, f: f } %>
		<% end %>
	</div>
	<div class="row-fluid">
		<a class="btn offset9 span2" data-toggle="collapse" href="#" data-target="#collapse_other_criterias">All criterias</a>
	</div>
	<div class="collapse" id="collapse_other_criterias">
		<br/>
		<strong>All criterias</strong>
		<hr/>
		<div class="row-fluid">
			<div class="span"></div>
			<% @profile_sections[:hidden].each do |criteria| %>
				<%= render partial: 'search/sections', locals: { criteria: criteria, f: f } %>
			<% end %>
		</div>
	</div>
	<%= f.submit 'Search', class: 'span2 btn btn-primary' %>
<% end %>
</p>
<h2>Search results</h2>
<div class="row-fluid">
	<div class="span"></div>
	<%= render @users -%>
</div>



