<h2>Search</h2>
<p>
  <strong>Basic criterias</strong>
<hr/>
<%= search_form_for @q, url: search_path, method: :get, id: :new_search do |f| %>
    <div class="row-fluid">
      <div class="span3">
        <label><strong><%= t :where_are_you %></strong></label>

        <div class="row-fluid">
          <div><%= text_field_tag :location, params[:location], class: 'span5' %></div>
        </div>
      </div>
      <div class="span3">
        <label><strong><%= t :max_distance %></strong></label>

        <div class="row-fluid">
          <div><%= number_field_tag :max_distance, params[:max_distance], class: 'span5', min: 0 %></div>
        </div>
      </div>
      <div class="span3">
        <a class="btn srch_btn_top span6" data-toggle="collapse" data-target="#collapse_other_criterias">All criterias</a>
      </div>
      <div class="span3">
        <div class="text-right"><%= f.submit 'Search', class: 'btn span10 btn-big btn-primary srch_btn_top' %></div>
      </div>

    </div>

    <div class="collapse" id="collapse_other_criterias">
      <br/>
      <strong>All criterias</strong>
      <hr>
      <div class="row-fluid">
        <% @profile_sections[:primary].each do |criteria| %>
            <%= render partial: 'search/primary_section', locals: { criteria: criteria, f: f } %>
        <% end %>
      </div>
      <hr>
      <% @profile_sections[:hidden].each_slice(4) do |criterias| %>
          <div class="row-fluid">
            <% criterias.each do |criteria| %>
                <%= render partial: 'search/hidden_section', locals: { criteria: criteria, f: f } %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>

<% end %>
</p>
<h2>Search results</h2>
<div class="row-fluid">
  <div class="span"></div>
  <%= render @users -%>
</div>



