- if @user.profile.filled?
  .row-fluid
    .span2.profile-column
      %div
        / need to render photo here
        [photo]
      %p
        :textile
          *Age:*
          #{@user.profile.optional_info['age']}

          ---

          *Body Type:*
          #{select_title 'body_type', @user.profile.optional_info['body_type']}

          ---

          *Hair / Eyes:*
          #{select_title 'hair_color', @user.profile.optional_info['hair_color']} / #{select_title 'eye_color', @user.profile.optional_info['eye_color']}

          ---

          *Education*
          #{select_title 'education', @user.profile.optional_info['education']}

          ---

          *Children*
          #{select_title 'children', @user.profile.optional_info['children']}

          ---

          *Ethnicity*
          #{select_title 'ethnicity', @user.profile.optional_info['ethnicity']}

          ---

          *Religion*
          #{select_title 'religion', @user.profile.optional_info['religion']}

          ---

          *Smoking / Drinking*
          #{select_title 'me_smoker', @user.profile.optional_info['smoker']} / #{select_title 'me_drinker', @user.profile.optional_info['drinker']}

          ---

    .span10.profile-column
      :textile
        h3. #{@user.name} <small>(#{select_title 'sex', @user.profile.personal_preferences['sex']})</small>

        ---

        **#{@user.profile.optional_info['age']} / #{@user.profile.general_info['address_line_1']}, #{@user.profile.general_info['address_line_2']} / #{@user.profile.general_info['city']}, #{@user.profile.general_info['state']}**

        __#{@user.profile.general_info['tagline']}__

      / - if @user == current_user
      - if true
        .row-fluid
          .span12
            .accordion#dev_info_accordion
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#dev_info_accordion', href: '#collapse_dev_info' }
                    Dev info (it will go away)
                .accordion-body.collapse#collapse_dev_info
                  .accordion-inner
                    %div
                      last_sign_in_ip:
                      = @user.last_sign_in_ip
                    %div
                      sign_in_count:
                      = @user.sign_in_count
                    %div
                      failed login counts:
                      = @user.failed_sign_in_count

      - if @user == current_user
        = link_to 'Edit profile', profile_edit_path, class: 'btn'

      :textile
        h3. About

        ---

        h4. About me:

        #{@user.profile.general_info['description']}

        h4. My First Date Expectations:

        #{@user.profile.date_preferences['description']}

        <br>

        *Occupation:*
        #{@user.profile.optional_info['occupation']}

        ---

        *Annual Income:*
        #{@user.profile.optional_info['annual_income']}$ per year

        ---

        *Net Worth:*
        #{@user.profile.optional_info['net_worth']}$

        ---

        *Relationship Status:*
        #{select_title 'relationship', @user.profile.personal_preferences['relationship']}

        ---

        *Looking To Meet:*
        #{select_title 'sex', @user.profile.personal_preferences['partners_sex']}

        ---

        *Interested In:*
        #{select_title 'want_relationship', @user.profile.personal_preferences['want_relationship']}

        ---
