<% return unless current_user -%>

<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <%= nav_link_to(invitation_link_title, invitations_path) %>
      <%= nav_link_to(t('winks.winks'), winks_path) %>
      <%= nav_link_to(messages_link_title, unread_messages_path) %>
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">Lists</li>
      <%= nav_link_to(t('navigation.blocked'), blocks_path) %>
      <%= nav_link_to(t('navigation.favorite'), favorites_path) %>
    </ul>
  </div><!--/.well -->
</div>
