<div id="layer1" class="carousel container slide main_slider hidden-phone">

  <div class="shadow_wrap">
    <div class="carousel-inner">
      <div class="active item">
        <img src="<%= image_path('bg_0.jpg') %>" alt="slide1"/>
      </div>
      <div class="item">
        <img src="<%= image_path('bg_1.jpg') %>" alt="slide2"/>
      </div>
      <div class="item">
        <img src="<%= image_path('bg_0.jpg') %>" alt="slide3"/>
      </div>
      <div class="item">
        <img src="<%= image_path('bg_1.jpg') %>" alt="slide4"/>
      </div>
    </div>

    <div class="container">
      <div class="carousel_nav">
        <ol class="carousel-indicators">
          <li data-target="#layer1" data-slide-to="0" class="active"></li>
          <li data-target="#layer1" data-slide-to="1"></li>
          <li data-target="#layer1" data-slide-to="2"></li>
          <li data-target="#layer1" data-slide-to="3"></li>
        </ol>
        <a class="carousel_right_arr" href="#layer1" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <div class="shadow_bottom_wrap"></div>
  </div>
</div>

<div class="container pr slider_form_wrapper">


  <div id="layer2">
    <%= form_tag new_registration_path(:user), method: :get, class: 'attractive_form pull-right form-horizontal custom' do -%>
        <p class="attractive_message">
          <span class="row1">find your</span><span class="row2">guaranteed</span><span class="row3">date!</span>
        </p>

        <div class=" ">
          <label class="text-left" for="gender">
            <span class="label_text">Gender</span>
            <select name="gender" id="s">
              <option value="1">male</option>
              <option value="2">female</option>
              <option value="3">not choose</option>
            </select>
          </label>
        </div>

        <div class=" ">
          <label class="text-left" for="seek">
            <span class="label_text">Seeking</span>
            <select name="seek" id="ss">
              <option value="1">woman</option>
              <option value="2">man</option>
              <option value="3">women couple</option>
            </select>
          </label>
        </div>

        <label class=" text-left" for="age_from">
          <span class="label_text">Age</span>
        </label>

        <div class="range_widget clearfix">
          <div class="range_input" data-bind="with: min_age">
            <a class="decrease_button" href="#" data-bind="click: decrease">-</a>
            <a class="increase_button" href="#" data-bind="click: increase">+</a>
            <input class="simple_input" name="age_from" type="text" value="25" data-bind="value: age"/>
          </div>

          <span class="range_middle"><label for="age_to">to</label></span>

          <div class="range_input" data-bind="with: max_age">
            <a class="decrease_button" href="#" data-bind="click: decrease">-</a>
            <a class="increase_button" href="#" data-bind="click: increase">+</a>
            <input class="simple_input" name="age_to" type="text" value="30" data-bind="value: age"/>
          </div>
        </div>

        <button type="submit" class="btn btn_signup">
          <i class="br_left"></i>
              <span class="btn_bg">
                <span class="btn_label_primary">Sign up</span>
                <span class="btn_label_secondary">for free!</span>
              </span>
          <i class="br_right"></i>
        </button>

    <%- end -%>
  </div>
</div>

<div id="layer3" class="hidden-phone">
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="new_users_wrap">
          <a class="scrolldown_button" href="#video-main">down</a>
          <ul class="users_grid5 clearfix">
            <%= render partial: 'pages/landing_user', collection: @latest_users, as: :user -%>
          </ul>
          <h2 class="heading">New members</h2>
        </div>

      </div>

      <div class="span3">
        <div class="attractive_quote">
          <span class="row1">romance</span>
          <span class="row2">just got more</span>
          <span class="row3">rewarding</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="layer4" class="container">
  <div class="shadow_wrap">
    <div id="video-main" class="video-main container">
      <!--<video id="video-moment-0" preload="auto" muted="true" loop="loop" canplay="false" class="is-vertical"><source src="video/moments1.webm" type="video/webm"><source src="video/moments1.mp4" type="video/mp4"></video>-->
      <div class="videoWrapper">
        <!--<iframe id="video_player"  name="video_player" src="http://player.vimeo.com/video/69277800?color=f00" width="100%" height="auto" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
        <!-- This version of the embed code is no longer supported. Learn more: https://vimeo.com/help/faq/embedding -->
        <!--<div id="video_player"></div>-->
        <iframe id="video_player" src="http://player.vimeo.com/video/69277800" width="540" height="304" frameborder="0" webkitallowfullscreen allowfullscreen></iframe>

      </div>
      <a id="layer5" class="play_button" href="#video-main">Our concept <i class="play_icon"></i></a>
    </div>
    <div class="shadow_bottom_wrap">
    </div>
  </div>
</div>

<div id="layer6">
  <div class="container">

    <footer class="footer navbar">

      <h2 class="footer_primary_heading">As seen on</h2>

      <div class="clearfix">
        <div class="pull-left partners_list_wrap">
          <ul class="partners_list clearfix">
            <li>
              <a href="partner_1"><img src="<%= image_path('partners/prtn_cnn.jpg') %>" alt="" width="110" height="68"/></a>
            </li>
            <li>
              <a href="partner_2"><img src="<%= image_path('partners/prtn_times.jpg') %>" alt="" width="110" height="68"/></a>
            </li>
            <li>
              <a href="partner_3"><img src="<%= image_path('partners/prtn_abc.jpg') %>" alt="" width="110" height="68"/></a>
            </li>
            <li>
              <a href="partner_4"><img src="<%= image_path('partners/prtn_miami_herald.jpg') %>" alt="" width="110" height="68"/></a>
            </li>
            <li>
              <a href="partner_5"><img src="<%= image_path('partners/prtn_fox.jpg') %>" alt="" width="110" height="68"/></a>
            </li>
            <li>
              <a href="partner_6"><img src="<%= image_path('partners/prtn_cbs.jpg') %>" alt="" width="110" height="68"/></a>
            </li>
          </ul>
        </div>
        <div class="pull-right sex_ratio_wrap">
          <div class="sex_ratio"></div>
        </div>
      </div>

      <a class="btn btn-navbar more_links" data-toggle="collapse" data-target=".footer_navbar">
        <span>Additional links</span>
      </a>


      <div class="nav-collapse collapse footer_navbar">
        <div class="footer_navbar_inner">
          <div class="row">
            <div class="span2">
              <h2 class="footer_heading">About PayPerDate</h2>

              <ul class="footer_links">
                <li><a href="#1"><strong>Registration</strong></a></li>
                <li><a href="#2"><strong>Dating tips</strong></a></li>
                <li><a href="#3"><strong>Help</strong></a></li>
                <li><a href="#4"><strong>Cookie policy</strong></a></li>
                <li><a href="#5"><strong>Terms & Conditions</strong></a></li>
                <li><a href="#6"><strong>Advertising</strong></a></li>
                <li><a href="#7"><strong>Affiliation</strong></a></li>
                <li><a href="#8"><strong>Press</strong></a></li>
              </ul>

            </div>
            <div class="span2">
              <h2 class="footer_heading">Other services</h2>

              <ul class="footer_links">
                <li><a href="#1"><strong>Gay dating</strong> with DatingDirectGay</a></li>
              </ul>

            </div>

            <div class="span4">
              <h2 class="footer_heading">PayPerDate in Europe</h2>

              <div class="row">
                <div class="span2">
                  <ul class="footer_links">
                    <li><a href="#1"><strong>Recontre</strong> en France</a></li>
                    <li><a href="#1"><strong>Partnersuche</strong> in Ōsterreich</a></li>
                    <li><a href="#1"><strong>Dating</strong> in Belgē</a></li>
                    <li><a href="#1"><strong>Incontri</strong> in Italia</a></li>
                    <li><a href="#1"><strong>Recontre</strong> en Suisse</a></li>
                    <li><a href="#1"><strong>Incontri</strong> in Swizzera</a></li>
                    <li><a href="#1"><strong>Dating</strong> in Denmark</a></li>
                    <li><a href="#1"><strong>Dejting</strong> i Sverige</a></li>
                  </ul>
                </div>
                <div class="span2">
                  <ul class="footer_links">
                    <li><a href="#1"><strong>Recontre</strong> en France</a></li>
                    <li><a href="#1"><strong>Partnersuche</strong> in Ōsterreich</a></li>
                    <li><a href="#1"><strong>Dating</strong> in Belgē</a></li>
                    <li><a href="#1"><strong>Incontri</strong> in Italia</a></li>
                    <li><a href="#1"><strong>Recontre</strong> en Suisse</a></li>
                    <li><a href="#1"><strong>Incontri</strong> in Swizzera</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="span2">
              <h2 class="footer_heading">International</h2>

              <ul class="footer_links">
                <li><a href="#1"><strong>Recontre</strong> en France</a></li>
                <li><a href="#1"><strong>Partnersuche</strong> in Ōsterreich</a></li>
                <li><a href="#1"><strong>Dating</strong> in Belgē</a></li>
                <li><a href="#1"><strong>Incontri</strong> in Italia</a></li>
                <li><a href="#1"><strong>Recontre</strong> en Suisse</a></li>
                <li><a href="#1"><strong>Incontri</strong> in Swizzera</a></li>
              </ul>
            </div>

            <div class="span2">
              <div class="appstores_links">
                <a class="apple_app app_link" href="#apple"><img src="<%= image_path('apple_appstore.png') %>" alt="apple"/></a>
                <a class="google_app app_link" href="#andr"><img src="<%= image_path('android_appstore.png') %>" alt="android"/></a>
                <a class="blackberry_app app_link" href="#blkbr"><img src="<%= image_path('blackberry_appstore.png') %>" alt="blackberry"/></a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </footer>

  </div>
</div>