<div class="invitation">
  <% inviter = invitation.friend(current_user) %>

  <%= link_to inviter.name, user_profile_path(inviter) -%>
  <% if inviter.deleted? %>
    <span class="label">Deleted</span>
  <% end %>
  <%= invitation.message -%>
  <%= number_to_currency(invitation.amount) -%>
  <%- if invitation.reject_reason.present? -%>
    (<%= invitation.reject_reason -%>)
  <%- end -%>

  <%- if can? :accept, invitation -%>
      <%= render 'accept_link', { invitation: invitation } -%>
  <% end %>

  <%- if can? :reject, invitation -%>
    <%= render 'reject_link', { invitation: invitation } -%>
  <%- end -%>

  <%- if can? :counter, invitation -%>
    <%= render 'counter_link', { invitation: invitation } -%>
  <%- end -%>

  <%- if can? :destroy, invitation -%>
    <%= link_to t('invitations.delete'),
                invitation_path(invitation),
                remote: true,
                data:   { disable_with: '...', confirm: t('are_you_sure'), method: :delete } %>
  <%- end -%>

  <%- if can? :unlock, invitation -%>
      <%= link_to t('invitations.unlock'),
                  unlock_invitation_path(invitation),
                  data:   { disable_with: '...', confirm: t('.unlock_confirm', credits: CommunicationCost.get(invitation.amount).cost), method: :post } %>
  <%- end -%>

  <%- if can? :communicated, invitation -%>
      <%= link_to "Messages",
                  new_user_message_path(invitation.invited_user) %>
  <%- end -%>

  <%- if can? :rank, invitation -%>
    <%= link_to t('invitations.rank_date'), new_invitation_date_rank_path(invitation) %>
  <%- end -%>

  <%- if can? :view_rank, invitation -%>
    <%= render 'date_ranks/date_rank', date_rank: invitation.rank_by(current_user) %>
  <%- end -%>
</div>
