<%= form_tag url_for({}), method: :get do %>
  <%= text_field_tag :city, params[:city] || SearchEventfulVenuesService::DEFAULT_CITY, placeholder: 'Location' %>
  <%= text_field_tag :keywords, params[:keywords] || SearchEventfulVenuesService::DEFAULT_KEYWORDS, placeholder: 'Keywords' %>
  <%= select_tag :date, options_for_select([ "Future", "Today", "This Week", "Next Week" ], params[:date] || SearchEventfulVenuesService::DEFAULT_DATE) %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @venues.empty? %>
  <p>
    Sorry. Nothing was found
  </p>
<% else %>
  <div>
    Total records: <%= @total %>
  </div>
  <% @venues.each do |venue| %>
    <div>
      <h3>
        <% if (image_hash = venue['image']) %>
          <% if image_url = image_hash['medium'] && image_hash['medium']['url'] %>
            <%= image_tag image_url %>
          <% end %>
        <% end %>
        <%= link_to venue['name'], eventful_venue_path(id: venue['id']) %>
      </h3>

      <p>Address: <%= venue['address'] %>, <% venue['region'] || venue['region_abbr '] %></p>

      <p><%== venue['description'] %></p>
        </div>
  <% end %>
  <div>
    <% if @prev_page %>
      <%= link_to 'Prev page', url_for(params.merge(page: @prev_page)) %>
    <% end %>
    <% if @next_page %>
      <%= link_to 'Next page', url_for(params.merge(page: @next_page)) %>
    <% end %>
  </div>
<% end %>