<span id="<%= dom_id(photo) -%>">
<a href="<%= photo.image_url -%>" rel="gallery">
  <%= image_tag(photo.image_url(:medium)) %>
</a>
  <%- if page_owner? -%>
    <%= link_to 'Use as avatar', use_avatar_path(photo), remote: true, method: :post, data: { behavior: 'use-as-avatar' } if photo.can_be_used_as_avatar? -%>
  <%- end -%>
  <% if can? :destroy, photo %>
     <%= link_to 'remove', album_photo_path(photo.album, photo),
                 remote: true, method: :delete, confirm: 'Sure?' -%>
  <%- end -%>

</span>