<!DOCTYPE html>
<html>
<head>
  <title>Payperdate</title>
  <%= stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body rails-controller='<%= params[:controller] %>' rails-action='<%= params[:action] %>'>

<%= render 'layouts/nav' %>
<%= render 'shared/info_bar' %>

<div class="container pr">
  <%= render 'layouts/flash' %>
  <%= yield %>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>

</html>
