<h2>Edit account</h2>
   <%- if resource.unconfirmed_email.present? -%>
    You have unconfired email "<%= resource.unconfirmed_email -%>". Please, confirm it before using our service
   <%- end -%>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %>
    <br/>
    <%= f.text_field :name %></div>

  <div><%= f.label :email %>
    <br/>
    <%= f.email_field :existent_email, placeholder: resource.unconfirmed_email %></div>

  <div><%= f.label :nickname %>
    <br/>
    <%= f.text_field :nickname %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation %></div>

  <%- unless resource.reload.no_password? -%>
    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password %></div>
  <%- end -%>

  <div><%= f.submit "Update" %></div>
<% end %>

  <div> <%= link_to 'Delete account', user_registration_path, method: :delete, "data-confirm" => t('devise.registrations.edit.confirm') %> </div>

<%= link_to "Back", :back %>
